body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
    background-image: linear-gradient(30deg, black 25%, transparent 80%, black 75%, black);
    /*background-image: linear-gradient(to top,#ff3300, blue);*/
    background-size: 50px, 50px;
    background-position: 0, 0, 25px, 25px;
    background-repeat: repeat;
}

.container {
    text-align: center;
}

.circle-icon {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.circle-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.name {
    color: #ff0000;
    font-size: 400%;
}
.school-link {
    color: #00ddff;
    display: inline-block;
    font-size: 200%;
}

p {
    color:azure;
}

.sns-link {
    color:#ffff00;
}